.comment 
  margin: 0 0 8px 0
  padding: 5px 8px 5px 30px
  border: 1px solid #333
  border-radius: 3px
  color: #ddd
  font-size: 14px

  .comment-head
    font-size: 10px

  .comment-author 
    font-weight: bold

  .comment-author:not([href])
    color: #828282

  .comment-score
    color: #b4b4b4
    font-weight: bold

  .comment-time
    color: #828282

  .comment-body
    max-width: 840px
    line-height: 20px
  
    p
      margin: 5px 0
      line-height: 20px
      
    a:hover
      text-decoration: none

  .comment-links 
    margin-bottom: 6px

  .comment-links a
    color: #828282
    font-weight: bold
    font-size: 10px
    margin-right: 4px

.comment-odd
  background-color: #121212

.comment-even
  background-color: #161616

#comment-info
  margin-top: 13px
  font-weight: bold
  padding-bottom: 5px
  border-bottom: 1px dotted #808080
  font-size: 16px

#sort-by
  color: #828282
  font-size: 12px
  margin: 5px 0 10px
