#comment-info 
  color: #ca302c
  margin-top: 10px
  font-weight: bold
  padding-bottom: 5px
  border-bottom: 1px dotted #808080
  font-size: 16px


#comment-sort 
  color: #808080
  font-size: 12px
  margin: 5px 0 10px
