{
	"query":{
		"term":{
			"id":"<%= id %>"
		}
	},
	"_source":[
		"author","created_utc","domain","link_flair_text","num_comments","url","subreddit","score","title","selftext","permalink","thumbnail","thumbnail_height","thumbnail_width"
	],
	"size":1
}