block vars
doctype html
html
	head
		if title
			title Removeddit - #{title}
		else
			title Removeddit
		meta(charset='utf-8')
		meta(type='description' content='Display removed and deleted comments from Reddit')
		meta(type='author' content='Jesper Wrang')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(href='/static/css/style.css' rel='stylesheet')
		link(href='/static/images/favicon.ico' rel='shotcut icon')
	body
		header
			#header
				h1
					a(href='/') Removeddit
				nav
					a(href='/r/all') subreddit
					a(href='/r/bestof/comments/7c8jof/') thread
					a(href='/search/') search
					a(href='/about/') about
			if status
				#status
					p#status-text
					img#status-image(src='/static/images/loading.gif')
		#main
			block main
		if script
			block script
				script(src='/static/js/libraries/snuownd.js')
				script(src='/static/js/libraries/lodash.custom.min.js')
				script(src='/static/js/libraries/lodash.templates.min.js')
				script(src='/static/js/polyfills/promise.min.js')
				script(src='/static/js/polyfills/fetch.js')
				script(src='/static/js/functions.js')