<div id="main-box" class="frontpage-box">
	<h2 style="color:#CA302C; margin-top:5px">About</h2>
		<p>
			This is a site for viewing removed comments from Reddit. 
			It was created by Jesper Wrang and uses <a href="https://pushshift.io/">Jason Baumgartner</a> service for getting removed comments.</p>
		<p>
			<b>How to use</b>: go to any Reddit thread and replace the <i>reddit</i> in the URL with <i>removeddit</i>
			<br>E.g. 
			<a href="/r/changelog/comments/6xfyfg/">
				https://www.removeddit.com/r/changelog/comments/6xfyfg/
			</a>
		</p>
		<p>
			Note that this site is in it's early stages of development, meaning the site is unstable and will contain bugs.
			If you find something that doesn't work please contact me at: <br><b>jesper (at) removeddit.com</b>
		</p>
	<h2 style="color:#239F2B">TODO</h2>
	<ul>
		<li>Collapsing comments</li>
		<li>Getting removed selftext of thread</li>
		<li>Getting "continue this thread"-comments to work</li>
	</ul>
	<h2 style="color:#1B767A">Acknowledgement</h2>
		<p>
			<a href="https://pushshift.io/">Jason Baumgartner</a> - for making all this possible with his amazing API	
		</p>
		<p>
			<a href="https://github.com/gamefreak">Scott McClaugherty</a> - for his reddit markdown parser
		</p>
		<p>
			<a href="http://reddit.com/r/redditdev">/r/redditdev</a> - for helping with the Reddit API
		</p>
	<h2 style="color: #CA752C">Links/Contact</h2>
	<p>For feedback and bug reports: 
	<ul>	
		<li>email: jesper (at) removeddit.com</li>
		<li>reddit: <a href="https://www.reddit.com/user/Jubbeart/">/u/JubbeArt</a></li>
	</ul>
	<p>
		<a href="https://github.com/JubbeArt/removeddit">Github for this project</a>
	</p>
</div>